body{
    background: #010020;
}

.boton {
    border: solid 1px;
    display: block;
    color: rgba(255, 255, 255, 0.171);
    font-size: 35px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0e0d0d;
    box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.959);
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.h1-footer{
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 0ch;
    color: #FFFFFF;

}

.p-footer{
    display:flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    opacity: 0.5;
    color: white;
}

.button-footer{
    width: 178px;
    height: 50px;;
    background: #F4F2F2;
    border-radius: 45px;
    border: none;
    cursor:pointer;

    /* button text */   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #1C1B2B;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

