body{
    background-color: #010020;
   
}

header {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;  
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 90vw; 
}

ul {
    display: flex;
    justify-content: space-evenly;   
    width: 40vw;
    list-style-type: none;
}

span {
    color : #47F177;
}

ul{
    list-style: none;
}

.section1{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.h1-s1 {
    text-align: left;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: #FFFFFF;   
}

.p-s1 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    opacity: 0.5;
    color: #FFFFFF;
}

.button-s1 {
    background: #47F177;
    border-radius: 45px;
    border: none;
    width: 220px;
    height: 59px;
    transition-duration: 0.5s;
    cursor:pointer;
    justify-content:left;
    

    /*button text*/
    color:#FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-decoration: none;
        
}
.bs1 {
    border: none;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #4F4F4F;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.25);
}

.button-s1:hover{
    background-color: #FFFFFF;
    color: #040021;
}

.img-section{
    display: flex;
    width: 300;
    height: auto;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.h1-footer{
    display:flex;
    width: 533px;
    height: 32px;
    

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;

    color: #FFFFFF;

}

.p-footer{
    display:flex;
    width: 499px;
    height: 17px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #838383;
}

.button-footer{
    width: 178px;
    height: 50px;;
   
        
    background: #F4F2F2;
    border-radius: 45px;
    border: none;

    /* button text */   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #1C1B2B;
    justify-content: center;
}


