body{
    background-color: #040021;
}

ul{
    list-style: none;
}



.h1-s1 {
    width: 410px;
    height: 150px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;

    color: #FFFFFF;

}

.section1{
    display: flex;
    justify-content: space-around;
}


.p-s1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;
}

.button-s1 {
    background: #47F177;
    border-radius: 45px;
    border: none;
    width: 220px;
    height: 59px;
    margin-left: 100px;
    transition-duration: 0.5s;
    cursor:pointer;

    /*button text*/
    color:#FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    text-decoration: none;
    
    
}

.button-s1:hover{
    background-color: #FFFFFF;
    color: #040021;
}

.img-section{
    display: flex;
    width:max-content;
}
