body{
    background-color: #040021;
   
}

header {
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;  
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 90vw; 
}

ul {
    display: flex;
    justify-content: space-evenly;   
    width: 40vw;
    list-style-type: none;
}



span {
    color : #47F177;
}

ul{
    list-style: none;
}


.h1-s1 {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    
    

    color: #FFFFFF;

}

.section1{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}


.p-s1 {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    opacity: 0.5;
    color: #FFFFFF;
}

.button-s1 {
    background: #47F177;
    border-radius: 45px;
    border: none;
    width: 220px;
    height: 59px;
    transition-duration: 0.5s;
    cursor:pointer;
    justify-content:left;

    /*button text*/
    color:#FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    text-decoration: none;
        
}
.button-s1:hover{
    background-color: #FFFFFF;
    color: #040021;
}

.img-section{
    display: flex;
    width: 50vw;
    height: auto;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.h1-footer{
    display:flex;
    width: 533px;
    height: 32px;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;

    color: #FFFFFF;

}
.p-footer{
    display:flex;
    width: 499px;
    height: 17px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.button-footer{
    display:flex;
    width: 178px;
    height: 62px;
   
        
    background: #F4F2F2;
    border-radius: 45px;
    border: none;

    /* button text */   
    position: absolute;
width: 111px;
height: 22px;
left: 634px;
top: 920px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 22px;

color: #1C1B2B;
}

